<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="<%- rootPath %>assets/stylesheets/_css/shared.css">
    <link rel="stylesheet" href="<%- rootPath %>assets/stylesheets/_css/<%- stylesheet %>.css">
    <link rel="icon" href="<%- rootPath %>assets/images/logos/favicon.jpg">
    <script src="https://kit.fontawesome.com/045284b3ec.js" crossorigin="anonymous"></script>
</head>