<header class="main-header header__element--white">
	<!-- Brand -->
	<a href="/" title="Home" class="main-header__brand">
		<img
			id="logo"
			class="brand-hover--disable"
			src="<%- rootPath %>assets/images/logos/vsa-vic-header.png"
			alt="VSA Victoria Logo"
		/>
	</a>
	<!-- Main navigation bar -->
	<nav class="main-nav">
		<ul class="main-nav__items">
			<li class="main-nav__item">
				<a class="main-nav__item-text main-nav__item-text--original" href="<%- rootPath %>pages/about"
					>ABOUT US</a
				>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__item-text main-nav__item-text--original" href="<%- rootPath %>pages/committee"
					>COMMITTEE</a
				>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__item-text main-nav__item-text--original" href="<%- rootPath %>pages/events"
					>EVENTS</a
				>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__item-text main-nav__item-text--original" href="<%- rootPath %>pages/sponsors"
					>SPONSORS</a
				>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__item-text main-nav__item-text--original" href="<%- rootPath %>pages/contact"
					>CONTACT</a
				>
			</li>
		</ul>
	</nav>
	<!-- Mobile navigation button toggle -->
	<div class="main-header__menu">
		<button class="toggle-button">
			<span class="toggle-button__bar header__element--grey"></span>
			<span class="toggle-button__bar header__element--grey"></span>
			<span class="toggle-button__bar header__element--grey"></span>
		</button>
	</div>
	<!-- Mobile navigation bar-->
	<nav class="mobile-nav mobile-nav__hide">
		<div class="mobile-nav__background"></div>
		<ul class="mobile-nav__items">
			<li class="mobile-nav__item">
				<a href="/">HOME</a>
			</li>
			<li class="mobile-nav__item">
				<a href="<%- rootPath %>pages/about">ABOUT US</a>
			</li>
			<li class="mobile-nav__item">
				<a href="<%- rootPath %>pages/committee">COMMITTEE</a>
			</li>
			<li class="mobile-nav__item">
				<a href="<%- rootPath %>pages/events">EVENTS</a>
			</li>
			<li class="mobile-nav__item">
				<a href="<%- rootPath %>pages/sponsors">SPONSORS</a>
			</li>
			<li class="mobile-nav__item">
				<a href="<%- rootPath %>pages/contact">CONTACT</a>
			</li>
		</ul>
		<div id="mobile-nav__social-media" class="mobile-nav__social-media">
			<a href="https://www.facebook.com/vsavictoria/"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/vsa.vic/?hl=en"><i class="fab fa-instagram"></i></a>
			<a href="https://www.linkedin.com/company/vsavictoria/about/"><i class="fab fa-linkedin-in"></i></a>
			<a href="https://www.youtube.com/channel/UC5_oB_6wQa5R5q853akNNHA"><i class="fab fa-youtube"></i></a>
		</div>
	</nav>
</header>
